.m-2 {
  margin: 0.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem
}

.mt-4 {
  margin-top: 1rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.-mt-6 {
  margin-top: -1.5rem
}

.-mt-4 {
  margin-top: -1rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-44 {
  margin-bottom: 11rem
}

.flex {
  display: flex
}

.h-10 {
  height: 2.5rem
}

.h-12 {
  height: 3rem
}

.h-52 {
  height: 13rem
}

.h-44 {
  height: 11rem
}

.h-8 {
  height: 2rem
}

.h-24 {
  height: 6rem
}

.h-16 {
  height: 4rem
}

.w-12 {
  width: 3rem
}

.w-full {
  width: 100%
}

.w-8 {
  width: 2rem
}

.w-24 {
  width: 6rem
}

.w-16 {
  width: 4rem
}

.w-\[100\%\] {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-chooseGrey {
  --tw-border-opacity: 1;
  border-color: rgb(138 141 143 / var(--tw-border-opacity))
}

.border-chooseBlack {
  --tw-border-opacity: 1;
  border-color: rgb(9 17 22 / var(--tw-border-opacity))
}

.border-b-chooseGrey {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(138 141 143 / var(--tw-border-opacity))
}

.bg-chooseBlack {
  --tw-bg-opacity: 1;
  background-color: rgb(9 17 22 / var(--tw-bg-opacity))
}

.bg-choosePrimary {
  --tw-bg-opacity: 1;
  background-color: rgb(254 248 237 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity))
}

.bg-red-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity))
}

.p-6 {
  padding: 1.5rem
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pb-12 {
  padding-bottom: 3rem
}

.pr-4 {
  padding-right: 1rem
}

.pr-8 {
  padding-right: 2rem
}

.pb-24 {
  padding-bottom: 6rem
}

.pb-20 {
  padding-bottom: 5rem
}

.pb-32 {
  padding-bottom: 8rem
}

.pb-44 {
  padding-bottom: 11rem
}

.pb-56 {
  padding-bottom: 14rem
}

.text-center {
  text-align: center
}

.font-customTitle {
  font-family: PlayfairDisplay-Bold
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[16px\] {
  font-size: 16px
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.leading-5 {
  line-height: 1.25rem
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-chooseBlack {
  --tw-text-opacity: 1;
  color: rgb(9 17 22 / var(--tw-text-opacity))
}

.text-chooseGrey {
  --tw-text-opacity: 1;
  color: rgb(138 141 143 / var(--tw-text-opacity))
}
